* {
    box-sizing: border-box;
}

.buttonMe {
    border: solid 1px darkgray;
    background: lightgray
   
}

button {
    margin: 1% 0 1% 1%;
    border-radius: 12px;
    background: darkblue;
    color: white;
}

.gifMe {
    border: solid 2px red;
}

.inputMe {
    border: solid 2px green;
}

.gifMeUp {
    float: left; 
    margin: 1% 1% 1% 1%;
}






