.container-fluid{
    margin: 0 auto;
    width: 100%;
  }

* {
    box-sizing: border-box;
}

.buttonMe {
    border: solid 1px darkgray;
    background: lightgray
   
}

button {
    margin: 1% 0 1% 0%;
    border-radius: 12px;
    background: darkblue;
    color: white;
}


/*
.gifMe {
    border: solid 2px red;
}
*/
.inputMe {
    margin-top: 3%;
}

.gifMeUp {
    float: left; 
    margin: 1% 1% 1% 1%;
}

.clickMe {
    background: darkblue;
    color: white;
}





